body, html {
  height: 100%;
}

.ad{
	height:86vh;
	background:white;
}

.chatlogs{
	height: 75vh;
	background:#f6fcff;
	margin-bottom:8px;
	overflow-x: hidden;
	overflow-y: scroll;
}


.navbar {
    margin-bottom: 2px !important;
	
}

.navbar ul li{
    display:inline-block;
 }
 
textarea {
	height: 50px;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	color: #333;
	overflow-x: hidden;
	overflow-y: hidden;
}



*, *:before, *:after {
  box-sizing: border-box;
}
.chat .chat-history {
  padding: 7px 7px 7px;
  border-bottom: 2px solid #f6fcff;
}
.chat .chat-history .message-data {
  margin-bottom: 13px;
}

.chat .chat-history .message {
  color: white;
  padding: 7px 7px;
  line-height: 14px;
  border-radius: 5px;
  margin-bottom: 6px;
  width: 90%;
  position: relative;
  font-family:"q_serif";
}
.chat .chat-history .you-message:after {
content: "";
    position: absolute;
    left: -23px;
	bottom:40%;
    border-width: 0 10px 15px;
    border-style: solid;
    border-color: LightBlue transparent;
    display: block;
    width: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chat .chat-history .me-message:after {
	content: "";
    position: absolute;
    left: 100.5%;
	bottom:40%;
    border-width: 0 10px 15px;
    border-style: solid;
    border-color: #b2a251 transparent;
    display: block;
    width: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chat .chat-history .you-message {
  background: white;
  color:#003366;
   border-color: LightBlue;
  border-style: inset;
}
.chat .chat-history .me-message {
  background: white;
  color:#003366;
  border-color:#b2a251;
  border-style: outset;
}

.chat .chat-message {
  padding: 10px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  color: gray;
  cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.you {
  color: #CCDBDC;
}

.me {
  color: #E9724C;
}


@media only screen and (max-width: 768px) {
	.ad{
		height:10vh;
	}
}

